<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    <title>Hello!</title>
</head>
<body>
    <h2>{{ result}}</h2>  </body>
    
</html>